@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', Arial, sans-serif;
}

:root {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(275, 100%, 97%);
    --text-color: hsl(292, 16%, 49%);
    --button-background-color: hsl(292, 42%, 14%);
    --font-size: 16px;
    --semi-bold: 400;
    --regular: 600;
    --bold: 700;
}

html {
    font-size: var(--font-size);
}

body {
    line-height: 1.5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color) url('./assets/images/background-pattern-desktop.svg') no-repeat;
}

.accordion-wrapper {
    max-width: 600px;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0 0 0 / .5);
    margin: 1rem;
}

.accordion-title {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.accordion {
    margin-top: 1rem;
}

.accordion-question {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    font-weight: var(--bold);
    cursor: pointer;
    transition: all .3s ease;
}

.accordion-question:hover {
    color: var(--button-background-color);
}

.btn {
    display: block;
    background-color: transparent;
    border: none;
}

.accordion-answer {
    display: none;
}

.accordion-answer.active{
    display: block;
    color: var(--text-color);
    padding: 1rem;
    font-weight: var(--semi-bold);
}

@media (max-width: 330px) {
    body {
        background-image: url('./assets/images/background-pattern-mobile.svg');
    }
}